@import "buttons";

.display {
    padding-right: 1rem;
    text-align: end;
    color: $primaryColor;
    margin-top: 7rem;
    overflow: hidden;

    .previous-operand {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .current-operand {

        font-size: 4rem;
        height: 5rem;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        padding-bottom: 0.8rem;
        overflow: hidden;
    }
}
